/* 
    Created on : 09-may-2020, 21:29:34
    Author     : Francisco_Antonio
*/

body
{
   font-family: 'PT Sans', sans-serif;
   font-size: 16px;
   padding:2px;
   display:block;
   margin: 0 auto;
   text-align:center;
}